@import "tailwindcss";

body {
    background-color: #000;
    color: #fff;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}

h1, h2, h3, h4, .font-sora {
    font-family: 'Sora', sans-serif;
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #000;
}
::-webkit-scrollbar-thumb {
    background: #222;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #ff0000;
}

.text-glow-red {
    text-shadow: 0 0 15px rgba(255, 0, 0, 0.5);
}

.bg-gradient-red {
    background: linear-gradient(135deg, #ff0000 0%, #7c0000 100%);
}

.perspective-1000 {
  perspective: 1000px;
}
